set bell-style none
set editing-mode vi

$if mode=vi
    set keymap vi-command
    Control-l: clear-screen

    set keymap vi-insert
    Control-l: clear-screen
    Control-e: end-of-line
    Control-a: beginning-of-line
    "jk": vi-movement-mode
$endif

